# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
npm-debug.log
.DS_Store

# Appium / Mobile Testing
*.trace
*.wda

# App specific
logs/

# IDE
.idea/
.vscode/
.DS_Store

# Virtual Environment
venv/
ENV/
env/

# Local configuration
.env 